<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NESS KDC - Test Center for applicants</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap-switch.css">
  <link rel="stylesheet" href="myStyle.css">
  <link rel="stylesheet" href="css/codemirror.css">
  <link rel="stylesheet" href="codemirror/theme/dracula.css">

  <script src="js/jquery-2.1.4.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-animate.min.js"></script>
  <script src="js/angular-cookies.min.js"></script>
  <script src="js/angular-route.min.js"></script>
  <script src="js/angular-sanitize.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/bootstrap-switch.js"></script>
  <script src="js/codemirror.js"></script>
  <script src="codemirror/mode/xml/xml.js"></script>
  <script src="codemirror/mode/javascript/javascript.js"></script>
  <script src="js/ui-codemirror.min.js"></script>
  <script src="js/md5-min.js" type="text/javascript"></script>
  <script src="js/moment-with-locales.js" type="text/javascript"></script>
  <script src="myApp.js"></script>
  <script src="controllers/controlPanelController.js"></script>
  <script src="controllers/editTestController.js"></script>
  <script src="controllers/finishController.js"></script>
  <script src="controllers/homeController.js"></script>
  <script src="controllers/loginModalController.js"></script>
  <script src="controllers/questionController.js"></script>
  <script src="controllers/questionsControlController.js"></script>
  <script src="controllers/resultsController.js"></script>
  <script src="controllers/settingController.js"></script>
  <script src="controllers/testController.js"></script>
  <script src="controllers/testsControlController.js"></script>
  <script src="controllers/usersController.js"></script>



</head>
  <body>
    <div id="app" ng-app="NESS-TCFA">
      <div class="container top">
        <div class="my-right">
          <button ng-if="settings.logged == false" type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#loginModal">
            <span class="glyphicon glyphicon-user"></span> Login
          </button>
          <a href="#/controlPanel/" style="margin-left: 3px" ng-if="settings.logged == true" type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-th-large"></span> Control Panel
          </a>
          <button ng-if="settings.logged == true" type="button" class="btn btn-default btn-sm" ng-click="logout()">
            <span class="glyphicon glyphicon-user"></span> Logout!
          </button>
        </div>

        <a href="#/home/">
          <img class="img-responsive" alt="NESS KDC - Test Center for applicants" style="height: 122px;" src="media/logo.png" class="my-fluid">
        </a>
        <strong ng-if="settings.logged == true">{{'You are logged as ' + settings.user.name + ' ' + settings.user.surname}}</strong>
        <div class="my-right toptext my-wide">TEST CENTER FOR APPLICANTS</div>
        <div class="modal fade" id="loginModal" role="dialog" >
          <div class="modal-dialog" ng-controller="loginModalController">
            <div class="modal-content" id="loginContent" >
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sign in!</h4>
              </div>
              <div class="modal-body">
                <form name="loginForm">
                <div class="form-group">
                  <label for="loginEmail">Username</label>
                  <input ng-model="email" type="text" required class="form-control" id="loginEmail" placeholder="Username">

                  </div>
                  <div class="form-group">
                    <label for="loginPassword">Password</label>
                    <input ng-model="password" ng-keypress="enter($event)" type="password" class="form-control" id="loginPassword" placeholder="Password">
                  </div>
                </form>
                <div ng-if="settings.autentificationFailed == true" class="alert alert-danger" role="alert">Bad username or password</div>
              </div>
              <div class="modal-footer">
                <br>
                <button type="button" ng-disabled="password.length <= 0" class="btn btn-primary" ng-click="login(email,password)">Continue</button>
                <button type="button" ng-click="email = ''; password = ''" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div  class="container" style="padding-left: 40px; padding-right: 40px">
        <div ng-if="connProblem.problem == true" class="alert alert-danger" role="alert">{{connProblem.message}}</div>
        <div ng-view></div>

        <br><br>
        <div class="my-center my-small">
          © 2015 Ness Technologies. All Rights Reserved<br><br>
          <a href="#/home/">
            <img src="media/logo_mini.jpg" alt="NESS KDC"></a>
        </div>
      </div>
    </div>
  </body>
</html>

