<h2>Control panel</h2>
<p>Manage tests, test questions, view and export candidates results, manage application users.</p><br><br>
<hr>
<br>
<div class="row">
  <div class="col-md-3 text-center">
    <strong>Tests control</strong>
    <br><a href="#/testsControl/">
    <img style="margin-top:15px;" src="media/Pencil.png" alt="Click for tests control."></a><br><br>
    Create, edit and manage tests.
  </div>
  <div class="col-md-3 text-center">
    <strong>Questions control</strong>
    <br><a href="#/questionsControl/">
    <img style="margin-top:15px;" src="media/Chat.png" alt="Click for question control."></a><br><br>
    Create, edit and manage tests questions.
  </div>
  <div class="col-md-3 text-center">
    <strong>Results</strong>
    <br><a href="#/results/">
    <img style="margin-top:15px;" src="media/Statistics.png" alt="Click for results."></a><br><br>
    View and export candidates results.
  </div>
  <div class="col-md-3 text-center">
    <strong>Settings</strong>
    <br><a href="#/settings/">
    <img style="margin-top:15px;" src="media/settings.png" alt="Click for settings."></a><br><br>
    Application settings.
  </div>
</div>
<div class="row" style="margin-top: 30px;">
  <div class="col-md-3 text-center">
    <strong>User management</strong><br><a href="#/users/">
    <img style="margin-top:15px;" src="media/User.png" alt="Click for user managment."></a><br><br>
    Create, edit and manage users and users rights.
  </div>
</div>

<br><br>

