<h2>Control panel</h2>
<p>Abas dosndk paletiska. Tasp sadm wis aks paktis ospa hopaka hem tumelest hugm. Abas dosndk paletiska. Tasp sadm wis aks paktis ospa hopaka hem tumelest hugm. Abas dosndk paletiska. Tasp sadm wis aks paktis ospa hopaka hem tumelest hugm. </p><br><br>
<hr>
<br>
<div class="row">
  <div class="col-md-3 text-center"><strong>Tests control</strong><br><a href="#/testsControl/"><img src="media/Pencil.png" alt="Click for tests control."></a><br><br>Abas dosndk paletiska. Tasp sadm wis aks paktis ospa hopaka hem tumelest hugm. </div>
  <div class="col-md-3 text-center"><strong>Questions control</strong><br><a href="#/questionsControl/"><img src="media/Chat.png" alt="Click for question control."></a><br><br>Abas dosndk paletiska. Tasp sadm wis aks paktis ospa hopaka hem tumelest hugm. </div>
  <div class="col-md-3 text-center"><strong>Results</strong><br><a href="#/results/"><img src="media/Statistics.png" alt="Click for results."></a><br><br>Abas dosndk paletiska. Tasp sadm wis aks paktis ospa hopaka hem tumelest hugm. </div>
  <div class="col-md-3 text-center"><strong>Settings</strong><br><a href="#/settings/"><img src="media/settings.png" alt="Click for settings."></a><br><br>Abas dosndk paletiska. Tasp sadm wis aks paktis ospa hopaka hem tumelest hugm.</div>
  <div class="col-md-3 text-center"><strong>User management</strong><br><a href="#/users/"><img src="media/User.png" alt="Click for user managment."></a><br><br>Abas dosndk paletiska. Tasp sadm wis aks paktis ospa hopaka hem tumelest hugm. </div>
</div>

<br><br>

