<div class="well">
  <strong>{{question.question}}</strong>
  <form>
    <div ng-show="question.type == 'checkbox'" ng-repeat="item in question.options">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="item.truly">
          {{item.option}}
        </label>
      </div>
    </div>
    <div ng-show="question.type == 'combobox'" >
      <form>
        <div class="radio" ng-repeat="item in question.options">
          <label >
            <input type="radio" name="radioButtons" ng-model="question.truly" ng-value="item.id">
            {{item.option}}
          </label>
        </div>
      </form>
    </div>
    <div ng-show="question.type == 'text'" >
      <input type="text" class="form-control" placeholder="Here ..." ng-model="question.response">
    </div>

    <div ng-show="question.type == 'code'">
      <pre>{{question.code}}</pre>
      <textarea ui-codemirror="cmOption" ng-model="question.response"></textarea>
    </div>
  </form>
</div>
<!--button ng-click="showScopes()">scopes </button-->
<a ng-if="isLast()" href="#/finish/" class="btn btn-success my-right">Finish</a>
<a ng-if="!isLast()" href="#/question/{{questionId+1}}" class="btn btn-primary my-right">Next</a>
<a ng-if="!isFirst()" href="#/question/{{questionId-1}}" class="btn btn-primary my-right">Previous</a>

