<div class="well">
  <strong>{{question.question}}</strong>
  <form>
    <div ng-if="question.type == 'checkbox'" ng-repeat="item in question.options">
      <div class="checkbox" ng-init="item.checked = false;">
        <label>
          <input type="checkbox" ng-model="item.checked">
          {{item.option}}
        </label>
      </div>
    </div>
    <div ng-if="question.type == 'combobox'" ng-repeat="item in question.options">
      <div class="radio" ng-init="item.checked = false;">
        <label>
          <input type="radio" name="radioButtons" ng-model="item.checked">
          {{item.option}}
        </label>
      </div>
    </div>
    <input type="text" ng-if="question.type == 'text'" class="form-control" placeholder="Here ..." ng-model="question.result">
    <div ng-if="question.type == 'code'">
      <pre>
        //C hello world example
        #include <stdio.h>

        int main(){
        printf("Hello world\n");
        return 0;
        }
        </pre>
      <textarea class="form-control" rows="10"></textarea>

    </div>
  </form>
</div>
<a href="#/question/" class="btn btn-primary my-right">Next</a>
<a href="#/finish/" class="btn btn-primary my-right">Finish</a>
