<div class="row" style="background-color: #f5f5f5; border-radius: 4px;">
  <div class="col-md-6" ng-class="showRightBar == false ? 'col-md-12' : 'col-md-6'">
    <!-- Kategorie -->
    <H3>Categories options</H3>
    <label for="questionCategory">Select category</label>
    <select id="questionCategory" class="form-control input" ng-model="selectedCategory" ng-options="category as category.category_name for category in categories"
      ng-change="showActionbar = true">
      <option></option>
    </select>
    <div class="input-group-btn">
      <div class="input-group" style="width: 100%" ng-init="showActionbar = true">
        <input ng-disabled="showActionbar == true" type="text" class="form-control" ng-model="selectedCategory.category_name">
        <div class="input-group-btn">
          <button type="button" ng-show="showActionbar == true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a ng-click="showActionbar = false; selectedCategory={}; zelene = addCategory" href="">Add category</a></li>
            <li><a ng-show="selectedCategory" ng-click="showActionbar = false; zelene = editCategory(this)" href="">Edit category</a></li>
            <li><a ng-show="selectedCategory" ng-click="selectedCategory.removeCategory();" href="">Remove category</a></li>
          </ul>
          <button ng-show="showActionbar == false" class="btn btn-danger glyphicon glyphicon-remove" ng-click="showActionbar = true; zelene = null;" aria-hidden="true" type="button"></button>
          <button ng-show="showActionbar == false" class="btn btn-success glyphicon glyphicon-ok" ng-click="zelene(selectedCategory.category_name); showActionbar = true;" aria-hidden="true" type="button"></button>
          <button class="btn btn-success glyphicon glyphicon-ok" ng-click="showme()" aria-hidden="true" type="button"></button>
        </div>
      </div>
    </div>
    <hr>
    <!-- Otazky -->
    <h4>Questions</h4>
    <input type="text" class="form-control input-sm" placeholder="Search" style="margin-bottom: 5px;">
    <table class="table table-striped">
      <tr>
        <td><b>Question name</b></td>
        <td style="width: 150px;"><b>Question type</b></td>
        <td style="width: 25px;"></td>
      </tr>
      <tr ng-repeat="question in questions | filter: advanceFilter">
        <td>{{question.question}}</td>
        <td>{{question.type}}</td>
        <td>
          <input type="checkbox" ng-model="question.selected">
        </td>
      </tr>
    </table>

  </div>
  <div class="col-md-6" style="border-left: 2px solid #cccccc; margin-top: 13px; margin-bottom: 13px;">
    <!-- Editácia/vytváranie otázky -->
    <div ng-repeat="question in questions | filter: selectedFilter">
      <div ng-if="question.type == 'combobox'"><!-- Form to create combo box question -->
        <span class="my-right"><small style="color: #cccccc">Question used in 4 tests</small></span>
        <span><small style="color: #cccccc">Combobox question</small></span>
        <div class="input-group">
          <input type="text" class="form-control" id="usr" ng-model="question.question">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="">Copy and edit question</a></li>
              <li><a ng-click="question.addOption()" href="">Add option</a></li>
              <li><a href="">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a ng-click="question.removeQuestion(item)" href="">Remove question from this test</a></li>
            </ul>
          </div>
        </div>
        <div ng-repeat="option in question.options">
          <div class="input-group" style="margin: 2px;">
            <input type="text" class="form-control" style="margin-left: 15px;" ng-model="option.option">
          <span class="input-group-btn">
            <button class="btn btn-default glyphicon glyphicon-remove" ng-click="item.removeOption(option)" aria-hidden="true" type="button"></button>
            <button ng-click="item.addOption()" ng-if="$last" class="btn btn-success btn-default glyphicon glyphicon-plus" ng-click="item.removeOption(option)" aria-hidden="true" type="button"></button>
          </span>
          </div>
        </div>
      </div>


      <div ng-if="question.type == 'checkbox'"><!-- Form to create combo box question -->
        <span class="my-right"><small style="color: #cccccc">Question used in 4 tests</small></span>
        <span><small style="color: #cccccc">Checkbox question</small></span>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="question.question">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="">Copy and edit question</a></li>
              <li><a ng-click="question.addOption()" href="">Add option</a></li>
              <li><a href="">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a ng-click="question.removeQuestion(item)" href="">Remove question from this test</a></li>
            </ul>
          </div>
        </div>
        <div ng-repeat="option in question.options">
          <div class="input-group" style="margin: 2px;">
            <input type="text" class="form-control" style="margin-left: 15px;" ng-model="option.option">
          <span class="input-group-btn">
            <button class="btn btn-default glyphicon glyphicon-remove" ng-click="item.removeOption(option)" aria-hidden="true" type="button"></button>
            <button ng-click="item.addOption()" ng-if="$last" class="btn btn-success btn-default glyphicon glyphicon-plus" ng-click="item.removeOption(option)" aria-hidden="true" type="button"></button>
            <button ng-show="option.truly" class="btn btn-default glyphicon glyphicon-check" ng-click="option.truly = !option.truly" aria-hidden="true" type="button"></button>
            <button ng-show="!option.truly" class="btn btn-default glyphicon glyphicon-cog" ng-click="option.truly = !option.truly" aria-hidden="true" type="button"></button>
          </span>
          </div>
        </div>
      </div>
      <div ng-if="question.type == 'text'"><!-- Form to create text question -->
        <div class="form-group">
          <button class="btn btn-danger my-right btn-xs">Remove question</button>
          <label for="answer2">Answer 1:</label>
          <input type="text" class="form-control" id="answer2" ng-model="question.question">
        </div>
        <hr>
      </div>
      <div ng-if="question.type == 'code'"><!-- Form to create check code question-->
        <div class="form-group">
          <button class="btn btn-danger my-right btn-xs">Remove question</button>
          <label for="answer32">Answer 1:</label>
          <input type="text" class="form-control" id="answer32" ng-model="question.question">
          <label for="answer23">Code:</label>
          <textarea type="text" class="form-control"  id="answer23" ng-model="question.code"></textarea>
        </div>
        <hr>
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Test name</th>
          <th>Owner</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>My test</td>
          <td>Marián Boržik</td>
          <td><span ng-click="result.showModal()" class="glyphicon glyphicon-remove"></span></td>
        </tr>
        <tr ng-repeat="test in tests">
          <td>{{test.name}}</td>
          <td>{{test.owner.name}} {{test.owner.name}}</td>
          <td><span ng-click="result.showModal()" class="glyphicon glyphicon-remove"></span></td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
