<h2>Settings</h2>
<p>Settings</p>
<div class="well">
  <strong>{{question.question}}</strong>
  <form>
    <div ng-if="question.questionType == 'checkbox'" ng-repeat="item in question.options">
      <div class="checkbox" ng-init="item.checked = false;">
        <label>
          <input type="checkbox" ng-model="item.checked">
          {{item.option}}
        </label>
      </div>
    </div>
    <div ng-if="question.questionType == 'radiobutton'" ng-repeat="item in question.options">
      <div class="radio" ng-init="item.checked = false;">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" ng-model="option.checked">
          {{item.option}}
        </label>
      </div>
    </div>
    <input type="text" ng-if="question.questionType == 'text'" class="form-control" placeholder="Here ..." ng-model="question.result">
    <div ng-if="question.questionType == 'code'">
      <pre>
        //C hello world example
        #include <stdio.h>

              int main(){
              printf("Hello world\n");
              return 0;
              }
        </pre>
      <textarea class="form-control" rows="10"></textarea>

    </div>
  </form>
</div>
