    <h2>Test control</h2>
    <p>Abas dosndk paletiska. Tasp sadm wis aks paktis ospa hopaka hem tumelest hugm. Abas dosndk paletiska. Tasp sadm wis aks paktis ospa hopaka hem tumelest hugm. Abas dosndk paletiska. Tasp sadm wis aks paktis ospa hopaka hem tumelest hugm. </p>

    <h2>Your tests</h2>
    <span class="label label-primary">Your tests: 2</span>
    <span class="label label-success">Active tests: 1</span>
    <span class="label label-warning">Inactive tests: 1</span>
    <a href="#/editTest/" class="btn my-right btn-primary">Create new test!</a>
    <br><br>
    <div class="list-group">
      <a href="#/editTest/" class="list-group-item success">
        <span class="glyphicon glyphicon-pencil my-right"></span>
        <h4 class="list-group-item-heading">First test</h4>
        <span class="glyphicon glyphicon-remove my-right"></span>
        <p class="list-group-item-text">More info ...</p>
      </a>
      <a href="#/editTest/" class="list-group-item success">
        <span class="glyphicon glyphicon-pencil my-right"></span>
        <h4 class="list-group-item-heading">Second test</h4>
        <span class="glyphicon glyphicon-remove my-right"></span>
        <p class="list-group-item-text">More info ...</p>
      </a>
      <a href="#/editTest/" class="list-group-item warning">
        <span class="glyphicon glyphicon-pencil my-right"></span>
        <h4 class="list-group-item-heading">Third test</h4>
        <span class="glyphicon glyphicon-remove my-right"></span>
        <p class="list-group-item-text">More info ...</p>
      </a>
    </div>
