<h2>Users</h2>
<br><br>
<div class="modal fade" id="detailModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Detail of John Carrot</h4>
      </div>
      <div class="modal-body">
        <pre>
          Name: {{info.name}}
          Surname: {{info.surname}}
          Email: {{info.email}}
          Test: {{info.testName}}
          Time and date: {{info.date | date:'medium'}}
          Result: {{info.result}} %
          Total time: {{info.ttime}}
        </pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="exportToPDF()">Export to PDF</button>
        <button type="button" class="btn btn-default" ng-click="hideModal()">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="permissionsModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Permissions of {{permissions.name}}</h4>
      </div>
      <div class="modal-body">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="item.checked">
            Modul Tests - All tests
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="item.checked">
            Modul Results
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="item.checked">
            Modul Settings
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="item.checked">
            Modul User Managment
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-primary" ng-click="savePermissions">Save</button>
        <button type="button" class="btn btn-default" ng-click="hideModal()">Close</button>
      </div>
    </div>
  </div>
</div>
<label for="filterInput">Filter:</label>
<input type="text" class="form-control" id="filterInput" ng-model="search">
<table class="table table-striped">
  <thead>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>something</th>
    <th>Permissions</th>
    <th>Change pass</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="result in results | filter: search">
    <td>{{result.name}}</td>
    <td>{{result.surname}}</td>
    <td>{{result.email}}</td>
    <td>{{result.result}} %</td>
    <td><span ng-click="result.showModal()" class="glyphicon glyphicon-menu-right"></span></td>
    <td><span ng-click="result.showModal()" class="glyphicon glyphicon-menu-right"></span></td>
  </tr>

  </tbody>
</table>
